:root {
  --main-color: #0d0c0c;
  --secondary-color: #fcd116;
  --accent-color: #5db0fd;
  --text-color: #f1efed;
  --padding-small: 0.5rem;
  --padding-medium: 1rem;
  --padding-large: 1.5rem;
  --border-radius: 8px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: "Roboto" , sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

/* header section  */

header {
  background-color: var(--main-color);
  color: var(--text-color);
}

h1 {
  font-weight: 700;
  text-align: center;
  padding: var(--padding-large);
  color: var(--text-color);
  letter-spacing: 8px;
}

.yellow {
  background-color: var(--secondary-color);
  padding: var(--padding-small);
}

/* main section  */
.container {
  display: flex;
  position: relative;
}

.hero {
  width: 100%;
  height: auto;
  z-index: 1;
  margin: 0; /* Remove white space below */
}

.hero img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

img {
  margin: 0;
}

.data, .weather {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  background: rgba(255, 255, 255, 0.8);
  padding: var(--padding-medium);
  border-radius: var(--border-radius);
}

.data {
  left: 1.5rem;
  top: 45%;
  transform: translateY(-80%);
}

.weather {
  right: 3.5rem;
  top: 45%;
  transform: translateY(-5%);
}

h2 {
  color: var(--text-color); /* Change color to text color */
}

.weather h2::after {
  content: url('../images/weather-icon.svg'); /* Restore the second SVG icon */
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-left: 0.5rem;
  vertical-align: middle;
}

ul span {
  font-weight: bold;
}

ul li {
  list-style: none;
  padding: var(--padding-small);
}

/* Footer Section */
footer {
  background-color: var(--main-color);
  color: var(--text-color);
  text-align: center;
  padding: var(--padding-medium);
}

/* Responsive styles */

@media (max-width: 550px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
  }

  .data, .weather {
    color: var(--main-color);
    position: static;
    transform: none;
    width: 100%;
    padding: var(--padding-small);
    text-align: center;
    background-color: transparent;
    border-bottom: none;
    border-radius: 0;
  }

  .data {
    order: 2;
    border-top: solid 8px var(--main-color);
    border-bottom: solid 8px var(--secondary-color);
  }

  .weather {
    order: 3;
  }

  .hero {
    order: 1;
    border-bottom: none; /* Remove border */
    margin-bottom: 0;
  }

  .weather h2, .data h2 {
    color: var(--main-color); /* Change color to main color */
  }

  .weather h2::after {
    display: none;
  }

  .weather::after {
    content: url('../images/weather-icon.svg'); /* Add SVG icon below h2 */
    display: block;
    width: 100px;
    height: 100px;
    margin: 0.5rem auto; /* Center the icon */
  }
}

